<%= render partial: "layouts/error", locals: { object: @brand } %>

<h2>Edit a Brand </h2>
<%= form_for (@brand) do |f| %>
  <%= render partial: 'form', locals: { fp: f} %>
  <br> 
    <%= submit_tag "Edit Brand " %>
<% end %> 
